/* min-width: 481px   and   max-width:600px */

.wrapperMain {
	width: 100%;
}

.name {
	white-space: pre-line;
}

h1 {
	font-size: 1.4rem;
	font-weight: bold;
	text-align: right;
}

h1 span {	
	font-size: 1.8rem;
	font-style: italic;
}

h2 {
	font-size: 1.2rem;
	font-weight: bold;
}

nav a,
a.btn,
input[type=submit],
input[type=reset] {
	font-size: 0.8rem;
	padding: 5px;
	border: 4px solid transparent;
	border-image: linear-gradient(to right, white, black, white);
	border-image-slice: 10%;
}


nav a img {
	max-width: 70%;
	height: auto;
}


div.pre-img {
	display: none;
}

div.price {
	max-height: 400px;
	min-width: 530px;
}

.news-item p:last-of-type {
	display: none;
}

a.activityName {
	width: 45%;
	height: auto;
}

a.activityName  img {
	width: 100%;
	height: auto;
}

a.itemName {
	width: 45%;
	height: auto;
}

a.itemName  img {
	width: 100%;
	height: auto;
}