/* max-width:480px */

.wrapperMain {
	width: 100%;
	min-width: 330px;
}

.name {
	white-space: pre-line;
}

h1 {
	font-size: 1.2rem;
	font-weight: bold;
	text-align: right;
}

h1 span {
	font-size: 1.5rem;
	font-style: italic;
}

nav a,
a.btn,
input[type=submit],
input[type=reset] {
	font-size: 0.4rem;	
	padding: 5px;
	border: 4px solid transparent;
	border-image: linear-gradient(to right, white, black, white);
	border-image-slice: 10%;
}


nav a img {
	max-width: 60%;
	height: auto;
}

section.activity {
	height: 150px;	
}

img.activity-description {
	height: 200px;
	width: 200px;
}

div.activity-description {
	width: 350px;
	height: 200px;
	padding-top: 25px;
}

