/* #slider input {
	display: none;
}
 */


/* #slide1:checked ~ #slides_s .inner { margin-left:0;} 
#slide2:checked ~ #slides_s .inner { margin-left:-100%;} 
#slide3:checked ~ #slides_s .inner { margin-left:-200%;} 
#slide4:checked ~ #slides_s .inner { margin-left:-300%;} 
#slide5:checked ~ #slides_s .inner { margin-left:-400%;} 
 */
/*точки для перелистывания*/
/* #active {
text-align: center;
margin-top: -37px;
}

#active label {
width: 15px;
height:10px;
background: #ccc;
display: inline-block;
cursor: pointer;
border-radius: 2px;
}
	
#active label:hover {
background: #999;
} */

/*#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3) ,
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5)  { background: #333;}*/

/* #slide1:checked ~ #slides .inner {animation: none;}
#slide2:checked ~ #slides .inner {animation: none;}
#slide3:checked ~ #slides .inner {animation: none;}
#slide4:checked ~ #slides .inner {animation: none;}
#slide5:checked ~ #slides .inner {animation: none;} */

/* #slide1:checked ~ #slides_s .inner {animation: none;}
#slide2:checked ~ #slides_s .inner {animation: none;}
#slide3:checked ~ #slides_s .inner {animation: none;}
#slide4:checked ~ #slides_s .inner {animation: none;}
#slide5:checked ~ #slides_s .inner {animation: none;} */



/* #slides_s .inner:hover{
	animation-play-state: paused;
}

#slides_s .inner {
-webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
     -o-transition: all 0.8s ease-in-out;
		transition: all 0.8s ease-in-out;

animation-name: slide-animation-s;
animation-duration: 20s;
animation-iteration-count: infinite;
}

#slides_s {
	margin: -10px auto 0;
	margin-bottom: 20px;
	height: 150px;
	background: white;
	border: 15px solid transparent;
	border-image: linear-gradient(to bottom, white, black, white);
	border-image-slice: 10%;
}

#slides_s .page img {width:350px; height: 120px;} */

/* .pre-img {
	display: block;
	float: left;
	width: 250px;
	text-align: center;
}

.pre-img h3 {
	color: black;
}



@keyframes slide-animation-s {  
	0%{opacity:0;}
	2%{opacity:1;}
	17%{margin-left:0px; opacity:1;}
	18%{opacity:0.6;}
	20%{margin-left:-335px; opacity:1;}
	35%{margin-left:-335px; opacity:1;}
	38%{opacity:0.6;}
	40%{margin-left:-670px; opacity:1;}
	55%{margin-left:-670px; opacity:1;}
	58%{opacity:0.6;}
	60%{margin-left:-1005px; opacity:1;}
	75%{margin-left:-1005px; opacity:1;}
	78%{opacity:0.6;}
	80%{margin-left:-1340px; opacity:1;}
	95%{opacity:1;}
	99%{margin-left:-1340px; opacity:0;}
	100%{margin-left:0px; opacity:0;}
	
} */