
html {
	background-color: #1f1e1c;	
	height: 100%;
}

body {	
	height: 100%;
	color: #ffffff;
	font-family: "Verdana", sans-serif;
	font-size: 100%;
}

/* Оболочка сайта */

.wrapperMain {
	display: flex;
    flex-direction: column;	
	min-height: 100%;
	margin: 0 auto;
	background-image: linear-gradient(to right bottom, #494947 0%, #242422 40%, #242422 60%, #494947 100%);
	background-attachment: fixed;
	padding: 0 5%;
}

/* Шапка */

header {
	flex: 0 0 auto;
	height: 20%;
	display: flex;
	justify-content: space-between;
}

.name {
	display: flex;
	width: 70%;
}

div.title {
	margin: auto;
	margin-right: 0;	
}

nav{
	flex: 0 0 auto;
	height: 10%;
	text-align: right;	
}

nav a,
a.btn,
input[type=submit],
input[type=reset] {
	display: inline-block;	
	margin-left: 5px;
	padding: 5px 10px;	
	font-weight: bolder;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	background-color: white;	
}


nav a:hover,
nav a:active,
nav a.active,
a.btn:hover,
a.btn:active,
input[type=submit]:hover,
input[type=submit]:active,
input[type=reset]:hover,
input[type=reset]:active
{
	color: white;
	background-color: black;
	border-image: linear-gradient(to right,  black, white, black);
	border-image-slice: 10%;
}

nav a:hover img,
nav a:active img,
nav a.active img {
	filter: brightness(100);
}

/* Тело сайта */

main {
	flex: 1 0 auto;
}

/* слайдер */

#slider {
	width: 100%; 
	margin: 10px auto; 
	position: relative;
}

#slides {	
	background: white;
	border: 15px solid transparent;
	border-image: linear-gradient(to bottom, white, black, white);
	border-image-slice: 10%;
}

#overflow {
	overflow: hidden;
}

.inner {
	width: 500%;
}
	
.inner:after {
	content:'';
	display: block;
	height: 0;
	clear:both;
}
	
.page {
	float: left;
	width: 20%;
}

#slides .inner {
	transition: all 0.8s ease-in-out;
	animation-name: slide-animation;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

#slides .inner:hover{
	animation-play-state: paused;
}

@keyframes slide-animation {  
	0%{opacity:0;}
	2%{opacity:1;}
	30%{margin-left:0px; opacity:1;}
	32%{opacity:0.6;}
	34%{margin-left:-100%; opacity:1;}
	63%{margin-left:-100%; opacity:1;}
	64%{opacity:0.6;}
	66%{margin-left:-200%; opacity:1;}
	95%{margin-left:-200%; opacity:1;}	
	99%{margin-left:-200%; opacity:0.6;}
	100%{margin-left:0px; opacity:0;}
	
}

/* секции на главной странице*/

.ativities {
	margin-top: 15px;
}

div.activity-description,
img.activity-description {
	display: inline-block;
	float: left;	
}

section.activity:nth-child(2n+1) div {
	float: right;	
}

section.activity:nth-child(2n) div {
	text-align: right;
}



h2 a,
h3 a{
	text-decoration: none;
	color: white;
}

input,
textarea,
select {
	width: 100%;
	border: 2px solid white;
	background-color: #EAE6E6;
	margin: 10px 5px;
}
	

input[type=submit],
input[type=reset] {
	width: 120px;
	margin-top: 10px;
	margin-left: 20px;
}

fieldset {
	width: 600px;
	margin: auto;
	margin-top: 10px;	
}

legend {	
	font-weight: bold;
	font-size: large;
}

form {
	margin:auto;
}

textarea {
	padding: 0;
}

h2.full {
	text-align: center;
}

a.btn {
	margin: 5px 0;	
}


p img {
	width: 100%;
	height: auto;
	margin: 15px 0;
}

.news-item {
	display: block;
	width: 100%;
	height: 400px;
	margin-bottom: 10px;
	border: 1px solid black;
	border-left: none;
	border-bottom: none;
	border-radius: 5px;
	box-shadow: 1px -1px 4px white;
}

 .big {
	height: 550px;
}

.img-news{
	display:inline-block;
	float: left;
	width: 250px;
	height: 280px;	
}


img.left {
	float: left;
	margin: 10px 10px 10px 0;
}

img.right {
	float: right;
	margin: 10px 0 10px 10px;
}

.description-news {
	display: inline-block;
	float: right;
	width: 350px;
	height: 250px;
	margin-bottom: 30px;
	overflow: hidden;		
}

.references {
	height: 20px;
}

.references a.readMore {
	display: inline-block;
	float: right;
	font-weight: bold;
	text-decoration: none;
	color: #A9AEBB;
}

.hash_button {
	text-decoration: none;	
	color: #A9AEBB;	
}

.hash_button:hover,
.hash_button:active {
	color: #1240AB;	
}

.action-item {
	height: 350px;	
}

.action-item-large {
	height: 600px;
}

.action-img {
	float: right;
	width: 640px;
	height: auto;
}

p.date {
	display: block;
	float: right;
	font-size: 12px;	
	color:  #A9AEBB;
}

.action-item a {
	display: block;
	float: left;
}

ul.markered-list {
	list-style:disc inside;
}

li.docket a{	
	color: #C0C0C0;
}

li.docket {
	margin: 5px 0 5px 15px;
	font-size: 18px;
}

div.nomination{
	height:50px;
	margin:25px 0;
}

div.nomination img {
	display: inline-block;
	float: left;
	margin-right: 15px;
}

div.nomination h3 {
	display: inline-block;
}

.social,
.social2 {
	display: block; 
	float: right;
	margin-top: 15px;
}

.social2 {
	margin-top: 25px;
	margin-right: -70px;
}

span.uppercase {
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 35px;
}

span.clarification {
	font-size: 14px;
}

span.title {
	font-weight: bold;
	color: white;
}


div.price {
	display: none;
	width: 100%;
	height: 600px;
	background-color: black;
	border: 2px solid white;
	border-radius: 5px;
	overflow: auto;
}

div.price.small {
	height: 200px;
}

table {
	width: 600px;
	margin: 5px auto;
	border: 1px solid white;
}

th, td {
	border: 1px solid white;
	padding: 2px;
	text-align: left;
	vertical-align: middle;
}

th {
	padding: 5px;
}

td.deviceType {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	background-color:#414245;
}

td.applianceBrand,
td.title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #414245;
	background-color: white;
}

td a{
	font-weight: bold;
	text-decoration: none;
	color: #9D9EA2;
}

td a:hover {
	color:  #1240AB;
}

td.choiseDevice {
	padding: 15px;	
}

td.imgDevice {
	width: 210px;
	height: 250px;	
}

td.imgDevice2{
	width: 210px;
	height: 480px;
}

td h3 {
	text-align: center;
	margin: 10px 0;
}

td p.prices {
	text-align: center;
	font-weight: bold;
}

td span.discount {
	display: block;
	float: right;
	font-weight: bold;
	text-shadow: 
		1px 0 0 black,
		0 0 10px white,
		2px 2px 10px white,
		-2px -2px 10px white,
		4px 4px 10px white,
		-4px -4px 10px white,
		0 0 5px white,
		0 0 25px white;
		
}

span.cold {
	color: blue;
}

span.hot {
	color: red;
}



footer {
	flex: 0 0 auto;	
	height: 80px;
}

footer ul:first-child {
	display: block; 
	float: left;
}

footer ul:last-child {
	display: block;
	float: right;
	text-align: right;
}

footer ul>li {
	display: block;
	padding: 10px;
	padding-bottom: 0;
}

footer a {
	font-size: 10px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.topbutton {
	position:fixed;
	bottom:10px;
	right:40px;
}
