/* min-width: 801px    and    max-width:1024px */


.wrapperMain {
	width: 80%;
	max-width: 1280px;
	min-width: 812px;
}

h1 {
	font-size: 1.8rem;
	font-weight: bold;
	text-align: right;
}

h1 span {
	font-size: 1.8rem;
	font-weight: bold;
}

nav a,
a.btn,
input[type=submit],
input[type=reset] {
	font-size: 1rem;
	border: 6px solid transparent;
	border-image: linear-gradient(to right, white, black, white);
	border-image-slice: 10%;
}

nav a img {
	max-width: 100%;
	height: auto;
}