/* min-width: 601px   and   max-width:800px */


.wrapperMain {
	width: 100%;
}

h1 {
	font-size: 1.6rem;
	font-weight: bold;
	text-align: right;
}

h1 span {
	font-size: 1.6rem;
	font-weight: bold;
}