/* min-width: 481px   and   max-width:600px */

.wrapperMain {
	width: 100%;
}

h1 {
	font-size: 1.4rem;
	font-weight: bold;
	text-align: right;
}

h1 span {
	font-size: 1.8rem;
	font-style: italic;
}

